In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [3]:
%%sql

DROP TABLE IF EXISTS COURSE_CATALOG;
CREATE TABLE COURSE_CATALOG (
    cat_id INTEGER NOT NULL PRIMARY KEY,
    catalog_id TEXT,
    catalog_year INTEGER,
    program_id INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
FOREIGN KEY (program_id) REFERENCES PROGRAMS(program_id));
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    program_id INTEGER NOT NULL PRIMARY KEY,
    program_code TEXT NOT NULL, 
    program_name TEXT NOT NULL);
/* ***    FOREIGN KEY (program_code) REFERENCES COURSE_CATALOG(program_code));*** */
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    course_id INTEGER NOT NULL PRIMARY KEY,
    cat_id INTEGER,
    crn TEXT,
    catalog_id TEXT,
    term TEXT,
    section INTEGER,
    professor_id TEXT,
    cap INTEGER,
    act INTEGER,
    rem INTEGER,
    FOREIGN KEY (catalog_id) REFERENCES COURSE_CATALOG(catalog_id));
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    coursemeeting_id INTEGER NOT NULL PRIMARY KEY,
    course_id INTEGER NOT NULL,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (course_id) REFERENCES COURSES (course_id));
DROP TABLE IF EXISTS PROFESSORS;
CREATE TABLE PROFESSORS (
    professor_id INTEGER NOT NULL PRIMARY KEY,
    name TEXT);
DROP TABLE IF EXISTS TERM_CATALOG;
CREATE TABLE TERM_CATALOG (
    term TEXT NOT NULL PRIMARY KEY, 
    catalog_year TEXT NOT NULL); 
INSERT INTO TERM_CATALOG (term, catalog_year)
VALUES
('Fall2017', '2017_2018'),
('Winter2018', '2017_2018'),
('Spring2018', '2017_2018'),
('Summer2018', '2017_2018'),
('Fall2018', '2018_2019'),
('Winter2019', '2018_2019'),
('Spring2019', '2018_2019');

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
7 rows affected.

[]

Used the following protocol to load the source data into tables:
Open a new Git Terminal
> sqlite3 CourseData.db
> .mode csv
> .import CourseCatalog2017_2018.csv Import_CourseCatalog
> .import CourseCatalog2018_2019.csv Import_CourseCatalog
> .import course_meetings_fall2014.csv Import_course_meetings
> .import course_meetings_fall2015.csv Import_course_meetings
> .import course_meetings_fall2016.csv Import_course_meetings
> .import course_meetings_fall2017.csv Import_course_meetings
> .import course_meetings_fall2018.csv Import_course_meetings
> .import course_meetings_spring2015.csv Import_course_meetings
> .import course_meetings_spring2016.csv Import_course_meetings
> .import course_meetings_spring2017.csv Import_course_meetings
> .import course_meetings_spring2018.csv Import_course_meetings
> .import course_meetings_spring2019.csv Import_course_meetings
> .import course_meetings_springbreak2017.csv Import_course_meetings
> .import course_meetings_summer2015.csv Import_course_meetings
> .import course_meetings_summer2016.csv Import_course_meetings
> .import course_meetings_summer2017.csv Import_course_meetings
> .import course_meetings_summer2018.csv Import_course_meetings
> .import course_meetings_winter2015.csv Import_course_meetings
> .import course_meetings_winter2016.csv Import_course_meetings
> .import course_meetings_winter2017.csv Import_course_meetings
> .import course_meetings_winter2018.csv Import_course_meetings
> 
> .import courses_fall2014.csv Import_courses
> .import courses_fall2015.csv Import_courses
> .import courses_fall2016.csv Import_courses
> .import courses_fall2017.csv Import_courses
> .import courses_fall2018.csv Import_courses
> .import courses_spring2015.csv Import_courses
> .import courses_spring2016.csv Import_courses
> .import courses_spring2017.csv Import_courses
> .import courses_spring2018.csv Import_courses
> .import courses_spring2019.csv Import_courses
> .import courses_springbreak2017.csv Import_courses
> .import courses_summer2015.csv Import_courses
> .import courses_summer2016.csv Import_courses
> .import courses_summer2017.csv Import_courses
> .import courses_summer2018.csv Import_courses
> .import courses_winter2015.csv Import_courses
> .import courses_winter2016.csv Import_courses
> .import courses_winter2017.csv Import_courses
> .import courses_winter2018.csv Import_courses

In [4]:
%%sql
DROP TABLE IF EXISTS Import_Courses2;
DROP TABLE IF EXISTS Import_CourseCatalog2;
DROP TABLE IF EXISTS Import_Course_Meetings2;
DROP TABLE IF EXISTS Import_courses;
DROP TABLE IF EXISTS Import_course_meetings;
DROP TABLE IF EXISTS Import_CourseCatalog;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///CourseData.db', echo=False)

In [6]:
calendaryears = ['2017_2018','2018_2019']

for calendaryear in calendaryears:
    filepath = 'SourceData/Catalogs/CourseCatalog'+calendaryear+'.csv'
    data=pd.read_csv(filepath)
    data['calendaryear'] = calendaryear
    data.to_sql('Import_CourseCatalog2',con=engine,if_exists='append',index=False)

In [7]:
#it was pointed out in class that the above can be done programatically rather than manually

#for the courses and course meeting imports:



terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019','SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
          'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = 'SourceData/'+term+'/courses.csv'
    data=pd.read_csv(filepath)
    data.to_sql('Import_Courses2',con=engine,if_exists='append',index=False)

    filepath = 'SourceData/'+term+'/course_meetings.csv'
    data=pd.read_csv(filepath)
    data.to_sql('Import_Course_Meetings2',con=engine,if_exists='append',index=False)

In [8]:
%%sql
/* *** data validation for CourseCatalog2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_CourseCatalog2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_CourseCatalog2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(4440, 4440)]

In [9]:
%%sql
/* *** data validation for Courses2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_Courses2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_Courses2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(15937, 15937)]

In [10]:
%%sql
/* *** data validation for Course_Meetings2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_Course_Meetings2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_Course_Meetings2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(284907, 284847)]

In [11]:
%%sql
DELETE FROM PROGRAMS;
INSERT INTO PROGRAMS (program_code, program_name)
    SELECT DISTINCT program_code, program_name FROM Import_CourseCatalog2
    ORDER BY program_code;

 * sqlite:///CourseData.db
0 rows affected.
83 rows affected.

[]

In [12]:
%%sql
DELETE FROM PROFESSORS;
INSERT INTO PROFESSORS (name)
    SELECT DISTINCT primary_instructor
    FROM Import_Courses2
    WHERE primary_instructor <> 'TBA' AND primary_instructor NOT LIKE '%/%';

 * sqlite:///CourseData.db
0 rows affected.
1095 rows affected.

[]

In [13]:
%%sql
DELETE FROM COURSE_CATALOG;
INSERT INTO COURSE_CATALOG (catalog_year,program_id,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description)
    SELECT DISTINCT C.calendaryear, P.program_id, C.catalog_id, C.course_title,C.credits,C.prereqs,C.coreqs,C.fees,C.attributes,C.description 
    FROM Import_CourseCatalog2 AS C
    JOIN PROGRAMS AS P
        USING(program_code);

 * sqlite:///CourseData.db
0 rows affected.
4440 rows affected.

[]

In [14]:
%%sql
DELETE FROM COURSES;
INSERT INTO COURSES (cat_id,crn,catalog_id,term,section,professor_id,cap,act,rem)
    SELECT DISTINCT COURSE_CATALOG.cat_id, C1.crn, COURSE_CATALOG.catalog_id,C1.term,C1.section,C1.primary_instructor,C1.cap,C1.act,C1.rem
    FROM  Import_Courses2 AS C1
    LEFT JOIN PROFESSORS 
    ON C1.primary_instructor=PROFESSORS.name
    LEFT JOIN TERM_CATALOG USING (term)
    LEFT JOIN COURSE_CATALOG
    ON C1.catalog_id = COURSE_CATALOG.catalog_id AND COURSE_CATALOG.catalog_year=TERM_CATALOG.catalog_year;

 * sqlite:///CourseData.db
0 rows affected.
15937 rows affected.

[]

In [15]:
%%sql
DELETE FROM COURSE_MEETINGS;
INSERT INTO COURSE_MEETINGS (course_id,location,day,start,end)
    SELECT DISTINCT COURSES.course_id, C2.location,C2.day,C2.start,C2.end
    FROM Import_course_meetings2 AS C2
    JOIN COURSES
    USING (crn,term);

 * sqlite:///CourseData.db
0 rows affected.
284847 rows affected.

[]

In [16]:
%%sql
DROP TABLE IF EXISTS Import_Courses2;
DROP TABLE IF EXISTS Import_CourseCatalog2;
DROP TABLE IF EXISTS Import_Course_Meetings2;
DROP TABLE IF EXISTS Import_courses;
DROP TABLE IF EXISTS Import_course_meetings;
DROP TABLE IF EXISTS Import_CourseCatalog;
/* ***DROP TABLE IF EXISTS Course_meetings;*** */

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
0 rows affected.

[]

In [17]:
%%sql
vacuum;

 * sqlite:///CourseData.db
Done.

[]