In [2]:
%load_ext sql
import pandas as pd
import sqlite3

In [3]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [19]:
%%sql
SELECT P1.program_code,C.professor_id, P.name, C.term
FROM COURSE_MEETINGS_FACTS AS C
LEFT JOIN PROFESSOR_DIMENSION AS P USING(professor_id)
LEFT JOIN PROGRAMS_DIMENSION AS P1 USING(program_id)
LEFT JOIN COURSE_CAT_DIMENSION AS C2 USING(cat_id)
WHERE program_id < 2 AND cat_id<1000
GROUP BY professor_id
ORDER BY professor_id DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('AC', '976', 'Victor E.  Hartman', 'Spring2018'),
 ('AC', '930', "Joseph R.  D'Agostin", 'Spring2018'),
 ('AC', '9', 'Milo W.  Peck', 'Fall2017'),
 ('AC', '842', 'Charles   Gill', 'Fall2018'),
 ('AC', '841', 'Richard   Hunter', 'Fall2018'),
 ('AC', '840', 'Kristen   Tharrington', 'Fall2018'),
 ('AC', '8', 'Bruce   Bradford', 'Fall2017'),
 ('AC', '778', 'Jenna Marie  Allegretto', 'Fall2017'),
 ('AC', '777', 'David L.  Glinka', 'Fall2017'),
 ('AC', '776', 'Kara E.  Hunter', 'Fall2017')]

In [24]:
%%sql
SELECT C.course_title, C1.section,term, cap
FROM COURSE_MEETINGS_FACTS
LEFT JOIN COURSE_CAT_DIMENSION AS C USING(cat_id)
LEFT JOIN COURSES_DIMENSION AS C1 USING(course_dimension_id)
WHERE cat_id <100
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20),
 ('Roots of American Culture', 1, 'Fall2017', 20)]

In [ ]:
%%sql 
SELECT L.location, cap, t