In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [3]:
%%sql
SELECT * 
FROM COURSE_CAT_DIMENSION
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AN 0301', '2017_2018', 'Independent Study', '1-3 Credits', None, None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 (2, 'AN 0310', '2017_2018', 'Asian Studies Seminar', '3 Credits', None, None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.'),
 (3, 'BU 0211', '2017_2018', 'Legal Environment of Business', '3 Credits', 'Junior standing.', None, None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.'),
 (4, 'BU 0220', '2017_2018', 'Environmental Law and Policy', '3 Credits', None, None, None, 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.'),
 (5, 'BU 0311', '2017_2018', 'The Law of Contracts, Sales, and Property', '3 Credits', 'BU 0211.', None, None, None, 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.'),
 (6, 'BU 0312', '2017_2018', 'The Law of Business Organizations and Financial Transactions', '3 Credits', 'BU 0211.', None, None, None, 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.'),
 (7, 'BU 0320', '2017_2018', 'Employment Law and Discrimination in the Workplace', '3 Credits', None, None, None, 'MGEL Management: General Elective, UDIV U.S. Diversity', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.'),
 (8, 'BU 0391', '2017_2018', 'Seminar in Business Law and Ethics', '3 Credits', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', None, None, None, 'This interdisciplinary study of these two aspects of the business environment is cross-listed as'),
 (9, 'BL 0101', '2017_2018', 'Black Lives Matter', '3 Credits', None, None, None, 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.'),
 (10, 'BL 0398', '2017_2018', 'Independent Study', '1-3 Credits', None, None, None, 'BSCP Black Studies Capstone Course', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.')]

In [4]:
%%sql
SELECT * 
FROM PROGRAMS_DIMENSION;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AC', 'Accounting'),
 (2, 'AE', 'Applied Ethics'),
 (3, 'AH', 'Art History'),
 (4, 'AN', 'Asian Studies'),
 (5, 'AR', 'Arabic'),
 (6, 'AS', 'American Studies'),
 (7, 'AY', 'Anthropology'),
 (8, 'BB', 'Business'),
 (9, 'BEN', 'Bioengineering'),
 (10, 'BI', 'Biology'),
 (11, 'BL', 'Black Studies'),
 (12, 'BU', 'Business'),
 (13, 'CH', 'Chemistry'),
 (14, 'CI', 'Chinese'),
 (15, 'CL', 'Classical Studies'),
 (16, 'CN', 'Counseling'),
 (17, 'CO', 'Communication'),
 (18, 'CR', 'Computer Engineering'),
 (19, 'CS', 'Computer Science'),
 (20, 'EC', 'Economics'),
 (21, 'ECE', 'Electrical and Computer Engineering'),
 (22, 'ED', 'Education'),
 (23, 'EE', 'Electrical Engineering'),
 (24, 'EEG', 'English for Engineers'),
 (25, 'EG', 'Engineering'),
 (26, 'EN', 'English'),
 (27, 'ENW', 'English: Writing'),
 (28, 'EV', 'Environmental Studies'),
 (29, 'FI', 'Finance'),
 (30, 'FR', 'French'),
 (31, 'FT', 'Family Therapy'),
 (32, 'FTM', 'Film, Television, and Media Arts'),
 (33, 'GD', 'Graphic Design'),
 (34, 'GM', 'German'),
 (35, 'GR', 'Greek'),
 (36, 'GS', 'General Studies'),
 (37, 'HA', 'Humanitarian Action'),
 (38, 'HE', 'Hebrew'),
 (39, 'HI', 'History'),
 (40, 'HR', 'Honors'),
 (41, 'HS', 'Health Studies'),
 (42, 'HU', 'Humanities'),
 (43, 'ID', 'Interdisciplinary'),
 (44, 'IL', 'International Studies'),
 (45, 'IN', 'Interior Design'),
 (46, 'IRI', 'Irish Studies'),
 (47, 'IS', 'Information Systems'),
 (48, 'IT', 'Italian'),
 (49, 'JA', 'Japanese'),
 (50, 'LA', 'Latin'),
 (51, 'LAC', 'Latin American and Caribbean Studies'),
 (52, 'MA', 'Mathematics'),
 (53, 'MD', 'Educational Technology'),
 (54, 'ME', 'Mechanical Engineering'),
 (55, 'MG', 'Management'),
 (56, 'MK', 'Marketing'),
 (57, 'MOT', 'Management of Technology'),
 (58, 'MPA', 'Public Administration'),
 (59, 'MU', 'Music'),
 (60, 'NS', 'Nursing'),
 (61, 'NSAN', 'Nursing: Anesthesia'),
 (62, 'NSMW', 'Nursing: Midwifery'),
 (63, 'OM', 'Operations Management'),
 (64, 'PG', 'Portuguese'),
 (65, 'PH', 'Philosophy'),
 (66, 'PJ', 'Peace and Justice Studies'),
 (67, 'PO', 'Politics'),
 (68, 'PS', 'Physics'),
 (69, 'PY', 'Psychology'),
 (70, 'QA', 'Quantitative Analysis'),
 (71, 'RES', 'Russian, Eastern European, and Central Asian Studies'),
 (72, 'RLD', 'Reading and Language Development'),
 (73, 'RS', 'Religious Studies'),
 (74, 'RU', 'Russian'),
 (75, 'SA', 'Studio Art'),
 (76, 'SE', 'Special Education'),
 (77, 'SL', 'TESOL and Bilingual Education'),
 (78, 'SO', 'Sociology'),
 (79, 'SP', 'Spanish'),
 (80, 'SW', 'Software Engineering'),
 (81, 'TA', 'Theatre'),
 (82, 'TX', 'Taxation'),
 (83, 'WS', 'Women, Gender, and Sexuality Studies')]

In [5]:
%%sql
SELECT *
FROM COURSES_DIMENSION
LIMIT 2;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 1, '70384', 'AC 0011', 'C01'), (2, 2, '70385', 'AC 0011', 'C02')]

In [6]:
%%sql
SELECT *
FROM LOCATION_DIMENSION;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'DSB 105'),
 (2, 'DSB 111'),
 (3, 'DSB 110A'),
 (4, 'DSB 108'),
 (5, 'DSB 110B'),
 (6, 'DSB 104'),
 (7, 'DSB 112'),
 (8, 'DSB 109'),
 (9, 'DSB 115'),
 (10, 'DSB 2109A'),
 (11, 'CNS 5'),
 (12, 'CNS 108'),
 (13, 'CNS 106'),
 (14, 'BNW 254'),
 (15, 'SON 124'),
 (16, 'CNS 303'),
 (17, 'CNS 305'),
 (18, 'BNW 137'),
 (19, 'CNS 15'),
 (20, 'CNS 208'),
 (21, 'CNS 103'),
 (22, 'BLM LL105'),
 (23, 'DMH 349'),
 (24, 'DMH 350'),
 (25, 'CNS 204'),
 (26, 'CNS 207'),
 (27, 'BY ARR '),
 (28, 'CNS 6'),
 (29, 'CNS 9'),
 (30, 'CNS 1'),
 (31, 'BNW 332'),
 (32, 'BNW 256'),
 (33, 'BNW 254A'),
 (34, 'SON 203'),
 (35, 'BNW 240'),
 (36, 'BNW 245'),
 (37, 'BNW 261'),
 (38, 'BNW 264'),
 (39, 'BNW 319'),
 (40, 'BNW 369'),
 (41, 'BNW 333'),
 (42, 'BNW 166'),
 (43, 'BNW GR22'),
 (44, 'BNW 238A'),
 (45, 'BNW 267'),
 (46, 'BNW 269'),
 (47, 'NYS 107C'),
 (48, 'MCA 204'),
 (49, 'MCA 206'),
 (50, 'BNW 361'),
 (51, 'BNW 341'),
 (52, 'BNW 335'),
 (53, 'BNW 131'),
 (54, 'BNW 127'),
 (55, 'BNW 362'),
 (56, 'BNW 340'),
 (57, 'BNW 339'),
 (58, 'BNW 343'),
 (59, 'BNW 363'),
 (60, 'CNS 10'),
 (61, 'CNS 202'),
 (62, 'DMH 348'),
 (63, 'CNS 203'),
 (64, 'DMH 347'),
 (65, 'CNS 206'),
 (66, 'MCA 102'),
 (67, 'CNS 2'),
 (68, 'CNS 301'),
 (69, 'DMH 231'),
 (70, 'BNW 129B'),
 (71, 'CNS 304'),
 (72, 'CNS 101'),
 (73, 'CNS 306'),
 (74, 'CNS 209'),
 (75, 'LYL 227B'),
 (76, 'CNS 104'),
 (77, 'DMH 131'),
 (78, 'BNW 469'),
 (79, 'DMH 149'),
 (80, 'DMH 148'),
 (81, 'MCA 203'),
 (82, 'BNW 133'),
 (83, 'BNW 139'),
 (84, 'BNW 253'),
 (85, 'DLH 107'),
 (86, 'MCA 107'),
 (87, 'BNW 334'),
 (88, 'DMH 331'),
 (89, 'XVR 15'),
 (90, 'XVR 13'),
 (91, 'XVR 5'),
 (92, 'DSB 114'),
 (93, 'DSB 106'),
 (94, 'FBR '),
 (95, 'EGN '),
 (96, 'GNZ AUDI'),
 (97, 'CNS 200'),
 (98, 'JGS 25'),
 (99, 'EGN MCGRATH'),
 (100, 'BCC 200'),
 (101, 'LYL 2'),
 (102, 'DMH 245'),
 (103, 'BNW 138'),
 (104, 'DSB 107'),
 (105, 'NYS 115'),
 (106, 'SWH 102'),
 (107, 'BNW 128'),
 (108, 'MCA 101'),
 (109, 'JGS LAB-A'),
 (110, 'SON 214'),
 (111, 'JHE '),
 (112, 'VA '),
 (113, 'LCH '),
 (114, 'TBA'),
 (115, 'YAL '),
 (116, 'STW '),
 (117, 'SILV '),
 (118, 'GBMH '),
 (119, 'SON 217'),
 (120, 'NOR '),
 (121, 'STM '),
 (122, 'GR '),
 (123, 'STAMH '),
 (124, 'DH '),
 (125, 'STV '),
 (126, 'GRF '),
 (127, 'SON ANNEX'),
 (128, 'SON 118'),
 (129, 'BNW 236'),
 (130, 'SON 209'),
 (131, 'BNW 162'),
 (132, 'BNW 130'),
 (133, 'BNW 163'),
 (134, 'LYL 22'),
 (135, 'LYL 1'),
 (136, 'LYL 8'),
 (137, 'LYL 20'),
 (138, 'LYL 21'),
 (139, 'PTH MAIN'),
 (140, 'NYS 101'),
 (141, 'BNW 124'),
 (142, 'DW G111'),
 (143, 'DW G101'),
 (144, 'DMH 241'),
 (145, 'CMP 313'),
 (146, 'CMP 413'),
 (147, 'MCK 101'),
 (148, 'LYL 145'),
 (149, 'DMH 126'),
 (150, 'BLM 112'),
 (151, 'ONLINE '),
 (152, 'LUDLW '),
 (153, 'HSR '),
 (154, 'BH '),
 (155, 'SON 212'),
 (156, 'MCA 112'),
 (157, 'QCK SCENE'),
 (158, 'BNW 329'),
 (159, 'DW G108'),
 (160, 'FBR 1DR1'),
 (161, 'BNW 136'),
 (162, 'BW '),
 (163, 'NWG '),
 (164, 'MCA 202'),
 (165, 'NCRGUA '),
 (166, 'BH BY ARR'),
 (167, 'PTH DESIGN'),
 (168, 'NHS 210'),
 (169, 'NHS 224'),
 (170, 'NHS 411'),
 (171, 'NHS 405'),
 (172, 'NHS 403'),
 (173, 'NHS 203'),
 (174, 'NHS 404'),
 (175, 'NHS 410'),
 (176, 'EGN COMM'),
 (177, 'NYS 114'),
 (178, 'NHS 103'),
 (179, 'NHS 405A'),
 (180, 'NHS 104'),
 (181, 'NHS 308'),
 (182, 'WTBRY '),
 (183, 'CMC '),
 (184, 'NHS 208'),
 (185, 'NHS 204'),
 (186, 'NHS 407'),
 (187, 'LNG 109'),
 (188, 'DW G109'),
 (189, 'NHS 301'),
 (190, 'BNW 144'),
 (191, 'NHS 403A'),
 (192, 'DMH 230'),
 (193, 'FPS '),
 (194, 'BD '),
 (195, 'NHD '),
 (196, 'RVNA '),
 (197, 'SHC '),
 (198, 'SON '),
 (199, 'DSB 110'),
 (200, 'XVR TV'),
 (201, 'BNW 143'),
 (202, 'DW G105'),
 (203, 'BPS '),
 (204, 'NHS 103/104'),
 (205, 'BY ARR X'),
 (206, 'NHS 205'),
 (207, 'MILY ')]

In [7]:
%%sql
SELECT *
FROM PROFESSOR_DIMENSION
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos'),
 (6, 'Scott M  Brenner'),
 (7, 'Kevin C.  Cassidy'),
 (8, 'Bruce   Bradford'),
 (9, 'Milo W.  Peck'),
 (10, 'Stephen E.  Yost')]

In [8]:
%%sql
SELECT *
FROM COURSE_MEETINGS_FACTS
WHERE term LIKE '%Fall2017%'
LIMIT 50;

 * sqlite:///CourseDataWarehouse.db
Done.

[(84204, 113, 4489, 3, 1, '2', 'R', '2017-09-07T11:00:00', '2017-09-07T12:15:00', 'Fall2017', 0, 28, -28),
 (84205, 113, 4489, 3, 1, '2', 'M', '2017-09-11T11:00:00', '2017-09-11T12:15:00', 'Fall2017', 0, 28, -28),
 (84206, 113, 4489, 3, 1, '2', 'R', '2017-09-14T11:00:00', '2017-09-14T12:15:00', 'Fall2017', 0, 28, -28),
 (84207, 113, 4489, 3, 1, '2', 'M', '2017-09-18T11:00:00', '2017-09-18T12:15:00', 'Fall2017', 0, 28, -28),
 (84208, 113, 4489, 3, 1, '2', 'R', '2017-09-21T11:00:00', '2017-09-21T12:15:00', 'Fall2017', 0, 28, -28),
 (84209, 113, 4489, 3, 1, '2', 'M', '2017-09-25T11:00:00', '2017-09-25T12:15:00', 'Fall2017', 0, 28, -28),
 (84210, 113, 4489, 3, 1, '2', 'R', '2017-09-28T11:00:00', '2017-09-28T12:15:00', 'Fall2017', 0, 28, -28),
 (84211, 113, 4489, 3, 1, '2', 'M', '2017-10-02T11:00:00', '2017-10-02T12:15:00', 'Fall2017', 0, 28, -28),
 (84212, 113, 4489, 3, 1, '2', 'R', '2017-10-05T11:00:00', '2017-10-05T12:15:00', 'Fall2017', 0, 28, -28),
 (84213, 113, 4489, 3, 1, '2', 'R', '2017-10-12T11:00:00', '2017-10-12T12:15:00', 'Fall2017', 0, 28, -28),
 (84214, 113, 4489, 3, 1, '2', 'M', '2017-10-16T11:00:00', '2017-10-16T12:15:00', 'Fall2017', 0, 28, -28),
 (84215, 113, 4489, 3, 1, '2', 'R', '2017-10-19T11:00:00', '2017-10-19T12:15:00', 'Fall2017', 0, 28, -28),
 (84216, 113, 4489, 3, 1, '2', 'M', '2017-10-23T11:00:00', '2017-10-23T12:15:00', 'Fall2017', 0, 28, -28),
 (84217, 113, 4489, 3, 1, '2', 'R', '2017-10-26T11:00:00', '2017-10-26T12:15:00', 'Fall2017', 0, 28, -28),
 (84218, 113, 4489, 3, 1, '2', 'M', '2017-10-30T11:00:00', '2017-10-30T12:15:00', 'Fall2017', 0, 28, -28),
 (84219, 113, 4489, 3, 1, '2', 'R', '2017-11-02T11:00:00', '2017-11-02T12:15:00', 'Fall2017', 0, 28, -28),
 (84220, 113, 4489, 3, 1, '2', 'M', '2017-11-06T11:00:00', '2017-11-06T12:15:00', 'Fall2017', 0, 28, -28),
 (84221, 113, 4489, 3, 1, '2', 'R', '2017-11-09T11:00:00', '2017-11-09T12:15:00', 'Fall2017', 0, 28, -28),
 (84222, 113, 4489, 3, 1, '2', 'M', '2017-11-13T11:00:00', '2017-11-13T12:15:00', 'Fall2017', 0, 28, -28),
 (84223, 113, 4489, 3, 1, '2', 'R', '2017-11-16T11:00:00', '2017-11-16T12:15:00', 'Fall2017', 0, 28, -28),
 (84224, 113, 4489, 3, 1, '2', 'M', '2017-11-20T11:00:00', '2017-11-20T12:15:00', 'Fall2017', 0, 28, -28),
 (84225, 113, 4489, 3, 1, '2', 'M', '2017-11-27T11:00:00', '2017-11-27T12:15:00', 'Fall2017', 0, 28, -28),
 (84226, 113, 4489, 3, 1, '2', 'R', '2017-11-30T11:00:00', '2017-11-30T12:15:00', 'Fall2017', 0, 28, -28),
 (84227, 113, 4489, 3, 1, '2', 'M', '2017-12-04T11:00:00', '2017-12-04T12:15:00', 'Fall2017', 0, 28, -28),
 (84228, 113, 4489, 3, 1, '2', 'R', '2017-12-07T11:00:00', '2017-12-07T12:15:00', 'Fall2017', 0, 28, -28),
 (84229, 113, 4489, 3, 1, '2', 'M', '2017-12-11T11:00:00', '2017-12-11T12:15:00', 'Fall2017', 0, 28, -28),
 (84230, 113, 4490, 3, 1, '2', 'R', '2017-09-07T12:30:00', '2017-09-07T13:45:00', 'Fall2017', 0, 29, -29),
 (84231, 113, 4490, 3, 1, '2', 'M', '2017-09-11T12:30:00', '2017-09-11T13:45:00', 'Fall2017', 0, 29, -29),
 (84232, 113, 4490, 3, 1, '2', 'R', '2017-09-14T12:30:00', '2017-09-14T13:45:00', 'Fall2017', 0, 29, -29),
 (84233, 113, 4490, 3, 1, '2', 'M', '2017-09-18T12:30:00', '2017-09-18T13:45:00', 'Fall2017', 0, 29, -29),
 (84234, 113, 4490, 3, 1, '2', 'R', '2017-09-21T12:30:00', '2017-09-21T13:45:00', 'Fall2017', 0, 29, -29),
 (84235, 113, 4490, 3, 1, '2', 'M', '2017-09-25T12:30:00', '2017-09-25T13:45:00', 'Fall2017', 0, 29, -29),
 (84236, 113, 4490, 3, 1, '2', 'R', '2017-09-28T12:30:00', '2017-09-28T13:45:00', 'Fall2017', 0, 29, -29),
 (84237, 113, 4490, 3, 1, '2', 'M', '2017-10-02T12:30:00', '2017-10-02T13:45:00', 'Fall2017', 0, 29, -29),
 (84238, 113, 4490, 3, 1, '2', 'R', '2017-10-05T12:30:00', '2017-10-05T13:45:00', 'Fall2017', 0, 29, -29),
 (84239, 113, 4490, 3, 1, '2', 'R', '2017-10-12T12:30:00', '2017-10-12T13:45:00', 'Fall2017', 0, 29, -29),
 (84240, 113, 4490, 3, 1, '2', 'M', '2017-10-16T12:30:00', '2017-10-16T13:45:00', 'Fall2017', 0, 29, -29),
 (84241, 113, 4490, 3, 1, '2', 'R', '2017-10-19T12:30:00', '2017-10-19T13:45:00', 'Fall2017', 0, 29, -29),
 (84242, 113, 4490, 3, 1, '2', 'M', '2017-10-23T12:30:00', '2017-10-23T13:45:00', 'Fall2017', 0, 29, -29),
 (84243, 113, 4490, 3, 1, '2', 'R', '2017-10-26T12:30:00', '2017-10-26T13:45:00', 'Fall2017', 0, 29, -29),
 (84244, 113, 4490, 3, 1, '2', 'M', '2017-10-30T12:30:00', '2017-10-30T13:45:00', 'Fall2017', 0, 29, -29),
 (84245, 113, 4490, 3, 1, '2', 'R', '2017-11-02T12:30:00', '2017-11-02T13:45:00', 'Fall2017', 0, 29, -29),
 (84246, 113, 4490, 3, 1, '2', 'M', '2017-11-06T12:30:00', '2017-11-06T13:45:00', 'Fall2017', 0, 29, -29),
 (84247, 113, 4490, 3, 1, '2', 'R', '2017-11-09T12:30:00', '2017-11-09T13:45:00', 'Fall2017', 0, 29, -29),
 (84248, 113, 4490, 3, 1, '2', 'M', '2017-11-13T12:30:00', '2017-11-13T13:45:00', 'Fall2017', 0, 29, -29),
 (84249, 113, 4490, 3, 1, '2', 'R', '2017-11-16T12:30:00', '2017-11-16T13:45:00', 'Fall2017', 0, 29, -29),
 (84250, 113, 4490, 3, 1, '2', 'M', '2017-11-20T12:30:00', '2017-11-20T13:45:00', 'Fall2017', 0, 29, -29),
 (84251, 113, 4490, 3, 1, '2', 'M', '2017-11-27T12:30:00', '2017-11-27T13:45:00', 'Fall2017', 0, 29, -29),
 (84252, 113, 4490, 3, 1, '2', 'R', '2017-11-30T12:30:00', '2017-11-30T13:45:00', 'Fall2017', 0, 29, -29),
 (84253, 113, 4490, 3, 1, '2', 'M', '2017-12-04T12:30:00', '2017-12-04T13:45:00', 'Fall2017', 0, 29, -29)]