In [1]:
%load_ext sql

In [2]:
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [8]:
%%sql
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    program_id INTEGER NOT NULL PRIMARY KEY, 
    program_code TEXT NOT NULL, 
    Program_name TEXT NOT NULL);
DROP TABLE IF EXISTS COURSE_CATALOG;
CREATE TABLE COURSE_CATALOG (
    catalog_id TEXT PRIMARY KEY,
    program_id INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
    FOREIGN KEY (program_id) REFERENCES PROGRAMS (program_id));
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    crn INTEGER NOT NULL PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    term TEXT NOT NULL,
    section INTEGER NOT NULL,
    primary_instructor TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    FOREIGN KEY (catalog_id) REFERENCES COURSE_CATALOG(catalog_id));
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    crn INTEGER NOT NULL PRIMARY KEY,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (crn) REFERENCES COURSES (crn));

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]