In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [100]:
%%sql

DROP TABLE IF EXISTS COURSE_CATALOG;
CREATE TABLE COURSE_CATALOG (
    catalog_id INTEGER NOT NULL PRIMARY KEY,
    program_code INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT);
/* ***FOREIGN KEY (program_id) REFERENCES PROGRAMS(program_id));*** */
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
/* ***    program_id INTEGER NOT NULL PRIMARY KEY, *** */
    program_code TEXT NOT NULL PRIMARY KEY, 
    program_name TEXT NOT NULL,
    FOREIGN KEY (program_code) REFERENCES COURSE_CATALOG(program_code));
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    crn INTEGER NOT NULL PRIMARY KEY,
    catalog_id INTEGER,
    term TEXT,
    section INTEGER,
    primary_instructor TEXT,
    cap INTEGER,
    act INTEGER,
    rem INTEGER,
    FOREIGN KEY (catalog_id) REFERENCES COURSE_CATALOG(catalog_id));
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    crn INTEGER NOT NULL PRIMARY KEY,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (crn) REFERENCES COURSES (crn));

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Used the following protocol to load the source data into tables:
Open a new Git Terminal
> sqlite3 CourseData.db
> .mode csv
> .import CourseCatalog2017_2018.csv Import_CourseCatalog
> .import CourseCatalog2018_2019.csv Import_CourseCatalog
> .import course_meetings_fall2014.csv Import_course_meetings
> .import course_meetings_fall2015.csv Import_course_meetings
> .import course_meetings_fall2016.csv Import_course_meetings
> .import course_meetings_fall2017.csv Import_course_meetings
> .import course_meetings_fall2018.csv Import_course_meetings
> .import course_meetings_spring2015.csv Import_course_meetings
> .import course_meetings_spring2016.csv Import_course_meetings
> .import course_meetings_spring2017.csv Import_course_meetings
> .import course_meetings_spring2018.csv Import_course_meetings
> .import course_meetings_spring2019.csv Import_course_meetings
> .import course_meetings_springbreak2017.csv Import_course_meetings
> .import course_meetings_summer2015.csv Import_course_meetings
> .import course_meetings_summer2016.csv Import_course_meetings
> .import course_meetings_summer2017.csv Import_course_meetings
> .import course_meetings_summer2018.csv Import_course_meetings
> .import course_meetings_winter2015.csv Import_course_meetings
> .import course_meetings_winter2016.csv Import_course_meetings
> .import course_meetings_winter2017.csv Import_course_meetings
> .import course_meetings_winter2018.csv Import_course_meetings
> 
> .import courses_fall2014.csv Import_courses
> .import courses_fall2015.csv Import_courses
> .import courses_fall2016.csv Import_courses
> .import courses_fall2017.csv Import_courses
> .import courses_fall2018.csv Import_courses
> .import courses_spring2015.csv Import_courses
> .import courses_spring2016.csv Import_courses
> .import courses_spring2017.csv Import_courses
> .import courses_spring2018.csv Import_courses
> .import courses_spring2019.csv Import_courses
> .import courses_springbreak2017.csv Import_courses
> .import courses_summer2015.csv Import_courses
> .import courses_summer2016.csv Import_courses
> .import courses_summer2017.csv Import_courses
> .import courses_summer2018.csv Import_courses
> .import courses_winter2015.csv Import_courses
> .import courses_winter2016.csv Import_courses
> .import courses_winter2017.csv Import_courses
> .import courses_winter2018.csv Import_courses

In [101]:
%%sql
SELECT * FROM Import_CourseCatalog LIMIT 2;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.')]

In [102]:
%%sql
DELETE FROM PROGRAMS;
INSERT INTO PROGRAMS (program_code, program_name)
    SELECT DISTINCT program_code, program_name FROM Import_CourseCatalog;

 * sqlite:///CourseData.db
0 rows affected.
84 rows affected.

[]

In [103]:
%%sql
DELETE FROM COURSE_CATALOG;
INSERT INTO COURSE_CATALOG (program_code, course_title,credits,prereqs,coreqs,fees,attributes,description)
    SELECT DISTINCT program_code, course_title,credits,prereqs,coreqs,fees,attributes,description FROM Import_CourseCatalog;

 * sqlite:///CourseData.db
0 rows affected.
2188 rows affected.

[]

In [110]:
%%sql
DELETE FROM COURSES;
/* ***INSERT INTO COURSES (catalog_id)*** */
/* ***    SELECT DISTINCT catalog_id FROM COURSE_CATALOG;*** */
INSERT INTO COURSES (term,section,primary_instructor,cap,act,rem)
    SELECT DISTINCT term,section,primary_instructor,cap,act,rem FROM Import_Courses;

 * sqlite:///CourseData.db
17530 rows affected.
Done.

[]

In [111]:
%%sql
SELECT * FROM COURSE_CATALOG LIMIT 2;
SELECT * FROM COURSES LIMIT 2;

 * sqlite:///CourseData.db
Done.
Done.

[(1, None, 'Fall2014', 'C01', 'Michael P.  Coyne', 0, 31, -31),
 (2, None, 'Fall2014', 'C02', 'Michael P.  Coyne', 0, 31, -31)]

In [106]:
%%sql
SELECT * FROM COURSE_CATALOG LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 'AN', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 (2, 'AN', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.'),
 (3, 'BU', 'Legal Environment of Business', '3 Credits', 'Junior standing.', '', '', '', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.'),
 (4, 'BU', 'Environmental Law and Policy', '3 Credits', '', '', '', 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.'),
 (5, 'BU', 'The Law of Contracts, Sales, and Property', '3 Credits', 'BU 0211.', '', '', '', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.'),
 (6, 'BU', 'The Law of Business Organizations and Financial Transactions', '3 Credits', 'BU 0211.', '', '', '', 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.'),
 (7, 'BU', 'Employment Law and Discrimination in the Workplace', '3 Credits', '', '', '', 'MGEL Management: General Elective, UDIV U.S. Diversity', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.'),
 (8, 'BU', 'Seminar in Business Law and Ethics', '3 Credits', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', '', '', '', 'This interdisciplinary study of these two aspects of the business environment is cross-listed as'),
 (9, 'BL', 'Black Lives Matter', '3 Credits', '', '', '', 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.'),
 (10, 'BL', 'Independent Study', '1-3 Credits', '', '', '', 'BSCP Black Studies Capstone Course', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.')]

In [74]:
%%sql
SELECT * FROM PROGRAMS LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies'),
 ('BU', 'Business'),
 ('BL', 'Black Studies'),
 ('BEN', 'Bioengineering'),
 ('AR', 'Arabic'),
 ('AY', 'Anthropology'),
 ('AS', 'American Studies'),
 ('JA', 'Japanese'),
 ('AH', 'Art History'),
 ('AE', 'Applied Ethics')]

In [69]:
%%sql
SELECT * FROM COURSE_CATALOG LIMIT 2;
SELECT * FROM PROGRAMS LIMIT 2;

 * sqlite:///CourseData.db
Done.
Done.

[('AN', 'Asian Studies'), ('BU', 'Business')]