In [93]:
%load_ext sql
import pandas as pd
import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [94]:
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [107]:
%%sql

DROP TABLE IF EXISTS COURSE_CATALOG;
CREATE TABLE COURSE_CATALOG (
    cat_id INTEGER NOT NULL PRIMARY KEY,
    catalog_id TEXT,
    catalog_year INTEGER,
    program_id INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
FOREIGN KEY (program_id) REFERENCES PROGRAMS(program_id));
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    program_id INTEGER NOT NULL PRIMARY KEY,
    program_code TEXT NOT NULL, 
    program_name TEXT NOT NULL);
/* ***    FOREIGN KEY (program_code) REFERENCES COURSE_CATALOG(program_code));*** */
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    course_id INTEGER NOT NULL PRIMARY KEY,
    crn TEXT,
    catalog_id TEXT,
    term_id TEXT,
    section INTEGER,
    professor_id TEXT,
    cap INTEGER,
    act INTEGER,
    rem INTEGER,
    FOREIGN KEY (catalog_id) REFERENCES COURSE_CATALOG(catalog_id));
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    crn INTEGER NOT NULL PRIMARY KEY,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (crn) REFERENCES COURSES (crn));
DROP TABLE IF EXISTS PROFESSORS;
CREATE TABLE PROFESSORS (
    professor_id INTEGER NOT NULL PRIMARY KEY,
    name TEXT);
DROP TABLE IF EXISTS TERM_CATALOG;
CREATE TABLE TERM_CATALOG (
    term_id INTEGER NOT NULL PRIMARY KEY,
    term TEXT,
    catalog_year TEXT);

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Used the following protocol to load the source data into tables:
Open a new Git Terminal
> sqlite3 CourseData.db
> .mode csv
> .import CourseCatalog2017_2018.csv Import_CourseCatalog
> .import CourseCatalog2018_2019.csv Import_CourseCatalog
> .import course_meetings_fall2014.csv Import_course_meetings
> .import course_meetings_fall2015.csv Import_course_meetings
> .import course_meetings_fall2016.csv Import_course_meetings
> .import course_meetings_fall2017.csv Import_course_meetings
> .import course_meetings_fall2018.csv Import_course_meetings
> .import course_meetings_spring2015.csv Import_course_meetings
> .import course_meetings_spring2016.csv Import_course_meetings
> .import course_meetings_spring2017.csv Import_course_meetings
> .import course_meetings_spring2018.csv Import_course_meetings
> .import course_meetings_spring2019.csv Import_course_meetings
> .import course_meetings_springbreak2017.csv Import_course_meetings
> .import course_meetings_summer2015.csv Import_course_meetings
> .import course_meetings_summer2016.csv Import_course_meetings
> .import course_meetings_summer2017.csv Import_course_meetings
> .import course_meetings_summer2018.csv Import_course_meetings
> .import course_meetings_winter2015.csv Import_course_meetings
> .import course_meetings_winter2016.csv Import_course_meetings
> .import course_meetings_winter2017.csv Import_course_meetings
> .import course_meetings_winter2018.csv Import_course_meetings
> 
> .import courses_fall2014.csv Import_courses
> .import courses_fall2015.csv Import_courses
> .import courses_fall2016.csv Import_courses
> .import courses_fall2017.csv Import_courses
> .import courses_fall2018.csv Import_courses
> .import courses_spring2015.csv Import_courses
> .import courses_spring2016.csv Import_courses
> .import courses_spring2017.csv Import_courses
> .import courses_spring2018.csv Import_courses
> .import courses_spring2019.csv Import_courses
> .import courses_springbreak2017.csv Import_courses
> .import courses_summer2015.csv Import_courses
> .import courses_summer2016.csv Import_courses
> .import courses_summer2017.csv Import_courses
> .import courses_summer2018.csv Import_courses
> .import courses_winter2015.csv Import_courses
> .import courses_winter2016.csv Import_courses
> .import courses_winter2017.csv Import_courses
> .import courses_winter2018.csv Import_courses

In [108]:
%%sql
DROP TABLE IF EXISTS Import_Courses2;
DROP TABLE IF EXISTS Import_CourseCatalog2;
DROP TABLE IF EXISTS Import_Course_Meetings2;

 * sqlite:///CourseData.db
Done.
Done.
Done.

[]

In [109]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///CourseData.db', echo=False)

In [110]:
calendaryears = ['2017_2018','2018_2019']

for calendaryear in calendaryears:
    filepath = 'SourceData/Catalogs/CourseCatalog'+calendaryear+'.csv'
    data=pd.read_csv(filepath)
    data['calendaryear'] = calendaryear
    data.to_sql('Import_CourseCatalog2',con=engine,if_exists='append',index=False)

In [111]:
#it was pointed out in class that the above can be done programatically rather than manually

#for the courses and course meeting imports:



terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019','SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
          'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = 'SourceData/'+term+'/courses.csv'
    data=pd.read_csv(filepath)
    data.to_sql('Import_Courses2',con=engine,if_exists='append',index=False)

    filepath = 'SourceData/'+term+'/course_meetings.csv'
    data=pd.read_csv(filepath)
    data.to_sql('Import_Course_Meetings2',con=engine,if_exists='append',index=False)

In [112]:
%%sql
/* *** data validation for CourseCatalog2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_CourseCatalog2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_CourseCatalog2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(4440, 4440)]

In [113]:
%%sql
/* *** data validation for Courses2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_Courses2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_Courses2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(15937, 15937)]

In [114]:
%%sql
/* *** data validation for Course_Meetings2 Imports*** */
SELECT
    (SELECT COUNT(*) FROM Import_Course_Meetings2) AS 'COUNTALL',
    (SELECT COUNT(*) FROM (SELECT DISTINCT * FROM Import_Course_Meetings2)) AS 'DISTINCT';

 * sqlite:///CourseData.db
Done.

[(284907, 284847)]

%%sql
/* *** This entire cell is markdown as obsolete but kept for future reference*** */
/* *** THIS CODE WAS CREATED TO CLEAN UP THE IMPORT TABLE.  IT'S SUSPECTED THAT IMPORT_COURSES HAD DUPLICATE CRN, CAUSING INTEGRITY ISSUES*** */
DROP TABLE IF EXISTS Import_courses2;
CREATE TABLE Import_courses2 (
    crn TEXT,
    term TEXT,
    catalog_id TEXT,
    section TEXT,
    credits TEXT,
    title TEXT,
    meetings TEXT,
    timecodes TEXT,
    primary_instructor TEXT,
    cap INTEGER,
    act INTEGER,
    rem INTEGER);
INSERT INTO Import_courses2 (crn,term,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem)
    SELECT DISTINCT crn, term,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem FROM Import_courses;

In [115]:
%%sql
/* *** data test *** */
SELECT * FROM Import_CourseCatalog LIMIT 2;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.')]

In [116]:
%%sql
/* *** data test*** */
SELECT * FROM Import_Courses
ORDER BY crn LIMIT 2;

 * sqlite:///CourseData.db
Done.

[('Winter2015', '10893', 'BI 0075', '01', '3.000', 'Ecology and Society', '[]', '[]', 'Thomas B.  Cunningham', '20', '22', '-2'),
 ('Winter2015', '10894', 'CO 0100', '01', '3.000', 'Human Communication Theories', '[]', '[]', 'David   Gudelunas', '20', '14', '6')]

In [117]:
%%sql
DELETE FROM PROGRAMS;
INSERT INTO PROGRAMS (program_code, program_name)
    SELECT DISTINCT program_code, program_name FROM Import_CourseCatalog
    ORDER BY program_code;

 * sqlite:///CourseData.db
0 rows affected.
84 rows affected.

[]

In [118]:
%%sql
DELETE FROM PROFESSORS;
INSERT INTO PROFESSORS (name)
    SELECT DISTINCT primary_instructor
    FROM Import_Courses2
    WHERE primary_instructor <> 'TBA' AND primary_instructor NOT LIKE '%/%';

 * sqlite:///CourseData.db
0 rows affected.
1095 rows affected.

[]

In [71]:
%%sql
SELECT * FROM TERM_CATALOG LIMIT 2;

 * sqlite:///CourseData.db
Done.

[(1, 'Fall2014'), (2, 'Fall2015')]

In [120]:
%%sql
DELETE FROM COURSE_CATALOG;
INSERT INTO COURSE_CATALOG (catalog_year,program_id,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description)
    SELECT DISTINCT C.calendaryear, P.program_id, C.catalog_id, C.course_title,C.credits,C.prereqs,C.coreqs,C.fees,C.attributes,C.description 
    FROM Import_CourseCatalog2 AS C
    JOIN PROGRAMS AS P
        USING(program_code);

 * sqlite:///CourseData.db
0 rows affected.
4440 rows affected.

[]

In [123]:
%%sql
DELETE FROM TERM_CATALOG;
INSERT INTO TERM_CATALOG (term,catalog_year)
    SELECT DISTINCT term, C2.catalog_year
    FROM Import_courses2
    JOIN COURSE_CATALOG AS C2 USING (catalog_id)
    
    ORDER BY term;

 * sqlite:///CourseData.db
38 rows affected.
38 rows affected.

[]

In [42]:
%%sql
SELECT * FROM COURSE_CATALOG LIMIT 2;

 * sqlite:///CourseData.db
Done.

[(1, 'AN 0301', '2017_2018', 4, 'Independent Study', '1-3 Credits', None, None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 (2, 'AN 0310', '2017_2018', 4, 'Asian Studies Seminar', '3 Credits', None, None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.')]

In [125]:
%%sql
DELETE FROM COURSES;
INSERT INTO COURSES (crn,catalog_id,term_id,section,professor_id,cap,act,rem)
    SELECT DISTINCT C1.crn, COURSE_CATALOG.catalog_id,TERM_CATALOG.term_id,C1.section,C1.primary_instructor,C1.cap,C1.act,C1.rem
    FROM  Import_Courses2 AS C1
    LEFT JOIN PROFESSORS 
    ON C1.primary_instructor=PROFESSORS.name
    LEFT JOIN TERM_CATALOG USING (term)
    LEFT JOIN COURSE_CATALOG
    ON C1.catalog_id = COURSE_CATALOG.catalog_id AND COURSE_CATALOG.catalog_year=TERM_CATALOG.catalog_year
    ORDER BY crn;

 * sqlite:///CourseData.db
0 rows affected.
31874 rows affected.

[]

In [127]:
%%sql
DELETE FROM COURSE_MEETINGS;
INSERT INTO COURSE_MEETINGS (crn,location,day,start,end)
    SELECT DISTINCT COURSES.crn, C2.location,C2.day,C2.start,C2.end
    FROM COURSES
    JOIN Import_course_meetings AS C2
    ON

 * sqlite:///CourseData.db
0 rows affected.
(sqlite3.OperationalError) incomplete input
[SQL: INSERT INTO COURSE_MEETINGS (crn,location,day,start,end)
    SELECT DISTINCT COURSES.crn, C2.location,C2.day,C2.start,C2.end
    FROM COURSES
    JOIN Import_course_meetings AS C2
    ON]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [78]:
%%sql 
SELECT * FROM Import_Courses2 
ORDER BY 
primary_instructor
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('Spring2015', 32262, 'IL 0299', 'A', '3.000', 'Independent Study', '[{\'days\': \'TBA\', \'times\': \'0\', \'dates\': \'TBA\', \'location\': "IDEA Course Eval - NO and Int\'l Studies Applied Course and Professional Studies BS and Prof Studies: Professions"}]', '["TBA 0 TBA IDEA Course Eval - NO and Int\'l Studies Applied Course and Professional Studies BS and Prof Studies: Professions"]', '01/20-04/30', 0, 0, 0),
 ('Spring2015', 32930, 'CO 0570', '01', '3.000', 'Project Proposal', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO and Professional Studies BA and Prof Studies: Humanities and Prof Studies: Social Sciences'}]", "['TBA 0 TBA IDEA Course Eval - NO and Professional Studies BA and Prof Studies: Humanities and Prof Studies: Social Sciences']", '01/20-05/08', 0, 0, 0),
 ('Spring2015', 32527, 'CO 0571', '01', '3.000', 'Independent Project', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO'}]", "['TBA 0 TBA IDEA Course Eval - NO']", '01/20-05/08', 0, 0, 0),
 ('Spring2015', 34111, 'CO 0572', '01', '3.000', 'Continuing Project', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO'}]", "['TBA 0 TBA IDEA Course Eval - NO']", '01/20-05/08', 0, 0, 0),
 ('Spring2015', 32941, 'CO 0572', '02', '3.000', 'Continuing Project', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO'}]", "['TBA 0 TBA IDEA Course Eval - NO']", '01/20-05/08', 0, 0, 0),
 ('Summer2018', 58467, 'NS 0687F', '01', '1.000', 'DNP Immersion', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO'}]", "['TBA 0 TBA IDEA Course Eval - NO']", '05/21-08/17', 1, -1, 0),
 ('Fall2014', 73278, 'IN 0214', '01', '3.000', 'Commercial Design', "[{'days': 'TBA', 'times': '10', 'dates': 'TBA', 'location': 'IDEA Course Eval - YES'}]", "['TBA 10 TBA IDEA Course Eval - YES']", '08/15-01/15', 0, 10, 0),
 ('Fall2015', 75192, 'MU 0088', 'B', '1.000', 'Private Lessons: Violin', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - NO'}]", "['TBA 0 TBA IDEA Course Eval - NO']", '09/01-12/07', 0, 0, 0),
 ('Fall2014', 73239, 'QA 0400', '02', '3.000', 'Applied Business Statistics', "[{'days': 'TBA', 'times': '0', 'dates': 'TBA', 'location': 'IDEA Course Eval - YES'}]", "['TBA 0 TBA IDEA Course Eval - YES']", '09/02-12/19', 0, 0, 999),
 ('Fall2014', 73284, 'CN 0465', '02', '0.000', 'Introduction to Substance Abuse and Addictions', "[{'days': 'TBA', 'times': '1', 'dates': 'TBA', 'location': 'IDEA Course Eval - YES'}]", "['TBA 1 TBA IDEA Course Eval - YES']", '09/02-12/30', 0, 1, 0)]