In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [5]:
%%sql

DROP TABLE IF EXISTS COURSE_CAT_DIMENSION;
CREATE TABLE COURSE_CAT_DIMENSION (
    cat_id INTEGER NOT NULL PRIMARY KEY,
    catalog_id TEXT,
    catalog_year INTEGER,
    program_id INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT);
DROP TABLE IF EXISTS PROGRAMS_DIMENSION;
CREATE TABLE PROGRAMS_DIMENSION(
    program_id INTEGER NOT NULL PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL);
DROP TABLE IF EXISTS COURSES_DIMENSION;
CREATE TABLE COURSES_DIMENSION(
    course_id INTEGER NOT NULL PRIMARY KEY,
    crn TEXT,
    catalog_id TEXT,
    section INTEGER,
    professor_name TEXT);
DROP TABLE IF EXISTS LOCATION_DIMENSION;
CREATE TABLE LOCATION_DIMENSION(
    location_id INTEGER NOT NULL PRIMARY KEY,
    location TEXT);
DROP TABLE IF EXISTS PROFESSOR_DIMENSION;
CREATE TABLE PROFESSOR_DIMENSION(
    professor_id INTEGER NOT NULL PRIMARY KEY,
    name TEXT NOT NULL);
DROP TABLE IF EXISTS COURSE_MEETINGS_FACTS;
CREATE TABLE COURSE_MEETINGS_FACTS (
    coursemeeting_id INTEGER NOT NULL PRIMARY KEY,
    cat_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,
    location_id INTEGER NOT NULL,
    program_id INTEGER NOT NULL,
    professor_id TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    term TEXT,
    cap INTEGER,
    act INTEGER,
    rem INTEGER,
    FOREIGN KEY (cat_id) REFERENCES COURSE_CAT_DIMENSION (cat_id),
    FOREIGN KEY (course_id) REFERENCES COURSES_DIMENSION (course_id),
    FOREIGN KEY (location_id) REFERENCES LOCATION_DIMENSION (location_id),
    FOREIGN KEY (program_id) REFERENCES PROGRAMS_DIMENSION (program_id)
    FOREIGN KEY (professor_id) REFERENCES PROFESSOR_DIMENSION (professor_id));

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]