In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [3]:
%%sql
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    program_id INTEGER NOT NULL PRIMARY KEY, 
    program_code TEXT NOT NULL, 
    program_name TEXT NOT NULL);
DROP TABLE IF EXISTS COURSE_CATALOG;
CREATE TABLE COURSE_CATALOG (
    catalog_id TEXT PRIMARY KEY,
    program_id INTEGER NOT NULL,
    course_title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
    FOREIGN KEY (program_id) REFERENCES PROGRAMS (program_id));
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    crn INTEGER NOT NULL PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    term TEXT NOT NULL,
    section INTEGER NOT NULL,
    primary_instructor TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    FOREIGN KEY (catalog_id) REFERENCES COURSE_CATALOG(catalog_id));
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    crn INTEGER NOT NULL PRIMARY KEY,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (crn) REFERENCES COURSES (crn));

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Used the following protocol to load the source data into tables:
Open a new Git Terminal
> sqlite3 CourseData.db
> .mode csv
> .import CourseCatalog2017_2018.csv Import_CourseCatalog
> .import CourseCatalog2018_2019.csv Import_CourseCatalog
> .import course_meetings_fall2014.csv Import_course_meetings
> .import course_meetings_fall2015.csv Import_course_meetings
> .import course_meetings_fall2016.csv Import_course_meetings
> .import course_meetings_fall2017.csv Import_course_meetings
> .import course_meetings_fall2018.csv Import_course_meetings
> .import course_meetings_spring2015.csv Import_course_meetings
> .import course_meetings_spring2016.csv Import_course_meetings
> .import course_meetings_spring2017.csv Import_course_meetings
> .import course_meetings_spring2018.csv Import_course_meetings
> .import course_meetings_spring2019.csv Import_course_meetings
> .import course_meetings_springbreak2017.csv Import_course_meetings
> .import course_meetings_summer2015.csv Import_course_meetings
> .import course_meetings_summer2016.csv Import_course_meetings
> .import course_meetings_summer2017.csv Import_course_meetings
> .import course_meetings_summer2018.csv Import_course_meetings
> .import course_meetings_winter2015.csv Import_course_meetings
> .import course_meetings_winter2016.csv Import_course_meetings
> .import course_meetings_winter2017.csv Import_course_meetings
> .import course_meetings_winter2018.csv Import_course_meetings
> 
> .import courses_fall2014.csv Import_courses
> .import courses_fall2015.csv Import_courses
> .import courses_fall2016.csv Import_courses
> .import courses_fall2017.csv Import_courses
> .import courses_fall2018.csv Import_courses
> .import courses_spring2015.csv Import_courses
> .import courses_spring2016.csv Import_courses
> .import courses_spring2017.csv Import_courses
> .import courses_spring2018.csv Import_courses
> .import courses_spring2019.csv Import_courses
> .import courses_springbreak2017.csv Import_courses
> .import courses_summer2015.csv Import_courses
> .import courses_summer2016.csv Import_courses
> .import courses_summer2017.csv Import_courses
> .import courses_summer2018.csv Import_courses
> .import courses_winter2015.csv Import_courses
> .import courses_winter2016.csv Import_courses
> .import courses_winter2017.csv Import_courses
> .import courses_winter2018.csv Import_courses

In [5]:
%%sql
SELECT * FROM Import_CourseCatalog LIMIT 2;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.')]

In [6]:
%%sql
DELETE FROM PROGRAMS;
INSERT INTO PROGRAMS (program_code, program_name)
    SELECT DISTINCT program_code, program_name FROM Import_CourseCatalog;

 * sqlite:///CourseData.db
0 rows affected.
84 rows affected.

[]